Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

refactor(snippets): be less strict and use folders
  snippets/ansible/commands.sh
  snippets/ansible/tasks.yml
  snippets/boinc.sh
  snippets/check port is reachable.sh
  snippets/convert between formats.sh
  snippets/create users.sh
  snippets/generate random passwords.sh
  snippets/gitlab/docker installation.sh
  snippets/gitlab/gitlab-runner.sh
  snippets/gitlab/package installation.sh
  snippets/gitlab/pipeline tasks.yml
  snippets/pulumi/aws iam groups generation.ts
  snippets/pulumi/commands.fish
  snippets/pulumi/functions.fish
  snippets/view files.sh
Due: validate-yaml, lint-ansible, lint-yaml

chore(kb): start articles for monitoring stuff
  .vscode/settings.json
  knowledge base/beats.md
  knowledge base/elasticsearch.md
  knowledge base/fluent bit.md
  knowledge base/fluentd.md
  knowledge base/kibana.md
  knowledge base/logstash.md
  knowledge base/opensearch.md
  knowledge base/opentelemetry.md
Due: validate-json, lint-md

chore(kb/aws): extend rds notes
  knowledge base/acronyms and abbreviations.md
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(aws/rds): extend notes and add role
  snippets/pulumi/aws rds s3 exporter iam role.ts
Due: none

chore(aws): give rds its own article and start kms' section
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/cli.md
  knowledge base/cloud computing/aws/rds.md
  knowledge base/cloud computing/aws/s3.md
  snippets/aws.fish
  snippets/pulumi/aws rds s3 exporter iam role.ts
Due: lint-md

chore(pulumi): add snippet for rds instance creation from snapshot
  snippets/pulumi/aws create rds instance from latest snapshot.ts
Due: none

chore(kb/jq): improve readibility
  knowledge base/jq.md
Due: lint-md

chore(kb/aws): add source for imagebuilder
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(kb/gitlab): give pipelines their own article
  knowledge base/gitlab/README.md
  knowledge base/gitlab/pipeline.md
Due: lint-md

chore(kb/powerpipe): add mods of interest
  knowledge base/turbot pipes/powerpipe.md
Due: lint-md

chore(gitlab): use rules in pipelines and jobs
  knowledge base/gitlab/pipeline.md
  snippets/gitlab/pipeline tasks.yml
Due: validate-yaml, lint-md, lint-yaml

chore(kb/brew): improve readibility
  knowledge base/homebrew.md
Due: lint-md

chore(kb/docker): improve configuration
  knowledge base/cloud computing/aws/ecr.md
  knowledge base/docker.md
Due: lint-md

chore(kb/template): use 'setup' as shorter heading
  knowledge base/template.md
Due: lint-md

chore(syncthing): work on osx
  containers/syncthing/docker-compose.osx.yml
  containers/syncthing/docker-compose.yml
  knowledge base/mac os x/README.md
Due: validate-yaml, lint-md, lint-yaml

chore(kb): start article about update-alternatives
  knowledge base/update-alternatives.md
Due: lint-md

chore(kb/aws/rds): add a dedicated storage section
  knowledge base/cloud computing/aws/rds.md
Due: lint-md

fix(kb/aws/rds): typo
  knowledge base/cloud computing/aws/rds.md
Due: lint-md

chore(kb/aws/rds): add source
  knowledge base/cloud computing/aws/rds.md
Due: lint-md

chore(kb/ebs): add section about snapshots
  knowledge base/cloud computing/aws/ebs.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
