Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


bootstrap:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make create-venv

debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: node_modules/.bin/commitlint --print-config


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      files: find . -type f -path "*ansible*" -not -path "*venv*"
      glob: '*.{yaml,yml}'
      run: .venv/bin/ansible-lint {files}
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      files: >-
        find . -type 'f'
        \( -name '*.md' -or -name '*.markdown' \)
        -not \( -path '*/node_modules/*' -or -path '*/venv/*' \)
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {files}
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t .venv/bin/yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        .venv/bin/yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      glob: '*.{markdown,md}'
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: node_modules/.bin/commitlint --edit

chore(aws/ec2): add source
  knowledge base/cloud computing/aws/ec2.md
Due: lint-md

chore(dnf): add commands to upgrade release
  snippets/dnf.sh
Due: none

chore(pulumi): add command to rename stacks after a project name changed
  knowledge base/pulumi.md
  snippets/pulumi/commands.fish
Due: lint-md

chore(postgresql): add replication slots and publication commands
  snippets/postgresql.sql
Due: none

chore(docker): add source
  knowledge base/docker.md
Due: lint-md

chore: make cluster-autoscaler work on eks
  knowledge base/cloud computing/aws/cli.md
  knowledge base/cloud computing/aws/eks.md
  knowledge base/kubernetes/cluster autoscaler.md
  knowledge base/kubernetes/kubectl.md
  snippets/aws.fish
  snippets/kubectl.sh
Due: lint-md

chore(k8s): add placeholders for werf and nelm
  knowledge base/kubernetes/nelm.placeholder
  knowledge base/kubernetes/werf.placeholder
Due: none

chore(kb/linux): add how to load kernel modules at boot
  knowledge base/linux/kernel modules.md
Due: lint-md

chore(snippets/aws): split file by usage
  snippets/aws/commands.fish
  snippets/aws/functions.fish
Due: none

chore(kb/k9s): add some key bindings
  knowledge base/kubernetes/k9s.placeholder
Due: none

chore(pulumi): refine saved commands
  knowledge base/pulumi.md
  snippets/pulumi/commands.fish
Due: lint-md

chore(postgresql): add restore command example
  snippets/postgresql.sh
Due: none

chore(kb): how to measure memory consumption for programs
  knowledge base/check performance of programs.md
  knowledge base/valgrind.md
Due: lint-md

chore(kb/aws/eks): vastly improve readibility and consistency
  knowledge base/cloud computing/aws/eks.md
Due: lint-md

chore(kb/aws/eks): further improve readibility
  knowledge base/cloud computing/aws/eks.md
Due: lint-md

chore(kb/gitlab): add notes about creating resources using pulumi
  knowledge base/gitlab/README.md
Due: lint-md

chore(kb/gitlab/runners): runners on k8s
  knowledge base/gitlab/runner.md
Due: lint-md

chore(kb/gitlab/runners): expand tolerations and node selection
  knowledge base/gitlab/runner.md
Due: lint-md

feat(gitlab/runners/k8s): improve examples adding affinity and improving resource management
  .vscode/settings.json
  examples/kubernetes/values.gitlab-runner.yaml
  knowledge base/gitlab/runner.md
Due: validate-json, validate-yaml, lint-md, lint-yaml
