Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(osx): add commands to check the dns
  knowledge base/mac os x/README.md
  snippets/osx.sh
Due: lint-md

chore(kb/aws): add elastic ip addresses section
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(pulumi/examples): showcase gitlab's omnibus installation on an ec2 instance
  .ansible-lint-ignore
  examples/pulumi/gitlab-omnibus-on-aws-ec2/.gitignore
  examples/pulumi/gitlab-omnibus-on-aws-ec2/Makefile
  examples/pulumi/gitlab-omnibus-on-aws-ec2/Pulumi.dev.yaml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/Pulumi.yaml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-playbook.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/defaults/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/files/gitlab_gitlab-ee.repo
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/meta/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/configure/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/install/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/pre-flight.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/templates/gitlab.16.11.1.default.rb.j2
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/templates/gitlab.rb.j2
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/vars/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/aws_ec2.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/index.ts
  examples/pulumi/gitlab-omnibus-on-aws-ec2/package.json
  examples/pulumi/gitlab-omnibus-on-aws-ec2/requirements.txt
  examples/pulumi/gitlab-omnibus-on-aws-ec2/tsconfig.json
  knowledge base/gitlab.md
Due: validate-json, validate-yaml, lint-ansible, lint-md, lint-yaml

fix(pulumi/examples): use handlers
  .ansible-lint-ignore
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/handlers/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/configure/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/install/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/pre-flight.yml
Due: validate-yaml, lint-ansible, lint-yaml

chore(kb/pulumi): add troubleshooting source
  knowledge base/pulumi.md
Due: lint-md

chore(kb/ssh): add source
  knowledge base/ssh.md
Due: lint-md

chore(kb/aws/rds): add source
  knowledge base/cloud computing/aws/README.md
Due: lint-md

feat(osx): add custom dns resolver section
  knowledge base/mac os x/README.md
  snippets/osx.sh
Due: lint-md

chore(aws): revise and improve commands, add ecs
  .vscode/settings.json
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/awscurl.md
  knowledge base/cloud computing/aws/cli.md
  knowledge base/cloud computing/aws/ebs.md
  knowledge base/cloud computing/aws/ec2.md
  knowledge base/cloud computing/aws/ecr.md
  knowledge base/cloud computing/aws/ecs.md
  knowledge base/cloud computing/aws/eks.md
  knowledge base/cloud computing/aws/s3.md
  knowledge base/cloud computing/aws/sagemaker.md
  knowledge base/cloud computing/aws/ssm.md
  snippets/aws.fish
Due: validate-json, lint-md

chore(diff): get better diffs in the terminal
  knowledge base/git.md
  snippets/diff.sh
  snippets/view.sh
Due: lint-md

chore(sed): comment non-space blocks in lines
  knowledge base/sed.md
  snippets/sed.sh
Due: lint-md

chore(gitlab): debug services
  snippets/check-port-is-reachable.sh
  snippets/gitlab.task.print-service-logs.yml
Due: validate-yaml, lint-yaml

chore(fish): unset variables
  knowledge base/fish.md
Due: lint-md

chore(kb/pulumi): improve configuration commands
  knowledge base/pulumi.md
Due: lint-md

chore(kb): dump findings on how to record a terminal for technical demos
  examples/demo.tape
  knowledge base/agg.md
  knowledge base/asciinema.md
  knowledge base/vhs.md
  knowledge base/xdotool.placeholder
  knowledge base/ydotool.md
Due: lint-md

chore(kb/azure): add source of icons
  knowledge base/cloud computing/azure/README.placeholder
Due: none

chore(kb): add article about svg to png conversion
  knowledge base/create png images from svg files.placeholder
Due: none

chore(kb/gitlab): add note about letsencrypt integration
  knowledge base/gitlab.md
Due: lint-md

chore(cloud-init): review working files
  cloud-init/aws-ssm-agent.yaml
  cloud-init/daily-security-updates.dnf.yaml
  cloud-init/docker.dnf-yum.yaml.tftpl
Due: validate-yaml, lint-yaml
