Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: .venv/bin/yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

feat(aws/eks): make ebs volumes work
  knowledge base/cloud computing/aws/eks.md
  knowledge base/kubernetes/README.md
  knowledge base/kubernetes/metrics server.md
  snippets/aws/commands.fish
Due: lint-md

feat(aws/eks): improve readibility
  knowledge base/cloud computing/aws/eks.md
Due: lint-md

feat(eks): add ebs and elb add-ons, improve readibility
  knowledge base/cloud computing/aws/eks.md
  knowledge base/kubernetes/kubectl.md
  snippets/aws/commands.fish
  snippets/kubectl.sh
Due: lint-md

feat(snippets): add quick nmap reference
  snippets/nmap.fish
Due: none

feat(kb/awx): demo instance on EKS
  knowledge base/awx.md
Due: lint-md

chore: postgresql services file and rds commands
  knowledge base/postgresql.md
  snippets/ansible/tasks.yml
  snippets/aws/commands.fish
Due: validate-yaml, lint-md, lint-yaml

feat(snippets): turbot pipe commands dump
  snippets/powerpipe.fish
  snippets/steampipe.fish
Due: none

chore(kb/ansible): add source
  knowledge base/ansible.md
Due: lint-md

chore(kb/rds): improve readibility
  .vscode/settings.json
  knowledge base/cloud computing/aws/rds.md
Due: validate-json, lint-md

chore(slack): send messages using ansible
  knowledge base/slack.md
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-md, lint-yaml

chore(scripts/git-all): nothing really useful, just a quick review
  .vscode/settings.json
  scripts/git-all.py
Due: validate-json

chore(k8s): add source
  knowledge base/kubernetes/README.md
Due: lint-md

chore: add starting files for wallabag to the mix
  .vscode/settings.json
  containers/wallabag/.gitignore
  containers/wallabag/docker-compose.upstream.yml
  knowledge base/self-hosting.md
  knowledge base/wallabag.md
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(ansible): improve ssm integration notes
  knowledge base/ansible.md
  knowledge base/cloud computing/aws/ssm.md
  snippets/ansible/commands.sh
Due: lint-md

chore(ansible): improve notes for awx setup on eks
  knowledge base/ansible.md
  knowledge base/awx.md
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/eks.md
  knowledge base/slack.md
  snippets/ansible/tasks.yml
  snippets/aws/commands.fish
Due: validate-yaml, lint-md, lint-yaml

chore(docker): how to login in different places
  knowledge base/docker.md
  snippets/docker.sh
Due: lint-md

chore(git-all): improve python and shell versions
  knowledge base/fish.md
  knowledge base/gnu userland/parallel.md
  scripts/git-all.py
  snippets/git.fish
  snippets/git.sh
Due: lint-md

chore(oauth2): start article
  knowledge base/oauth2.md
Due: lint-md

feat(ansible): add notes avout ansible vault
  knowledge base/ansible.md
  snippets/ansible/commands.sh
Due: lint-md

chore(kb/best-practices): add source
  knowledge base/best practices.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.{markdown,md}
  lint-yaml: any of: *.{yaml,yml}
