Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(awx): start notes about api
  knowledge base/awx.md
  snippets/awx.sh
Due: lint-md

chore(ec2): add section about burstable instances
  knowledge base/cloud computing/aws/ec2.md
Due: lint-md

chore(rds): try migrating a pgsql db
  knowledge base/cloud computing/aws/rds.md
  snippets/aws.fish
Due: lint-md

chore(docker): add used commands
  snippets/docker.sh
Due: none

chore(postgres): improve article about rds, start recording scripts for databases
  knowledge base/cloud computing/aws/rds.md
  snippets/postgresql.sql
Due: lint-md

chore(dnf): extend commands list
  knowledge base/dnf.md
  snippets/dnf.sh
Due: lint-md

chore(rds): review and extend postgresql transfer operations
  knowledge base/cloud computing/aws/rds.md
  knowledge base/postgresql.md
  snippets/aws.fish
  snippets/postgresql.sql
Due: lint-md

chore(postgresql): add source
  knowledge base/postgresql.md
Due: lint-md

chore(update-alternatives): bring up notice about Suse's python issues
  knowledge base/update-alternatives.md
Due: lint-md

chore(ansible): add section about performance tuning
  knowledge base/ansible.md
  snippets/ansible/commands.sh
Due: lint-ansible, lint-md

chore(zypper): add release upgrade section
  knowledge base/zypper.md
Due: lint-md

refactor(kb/ansible): moved sections around, add inventory
  knowledge base/ansible.md
Due: lint-ansible, lint-md

chore(zypper): improve commands
  knowledge base/zypper.md
  snippets/zypper.sh
Due: lint-md

fix(zypper): remove duplicated part
  knowledge base/zypper.md
Due: lint-md

chore: improve upon rds migration using transportdb
  knowledge base/cloud computing/aws/ebs.md
  knowledge base/cloud computing/aws/rds.md
  knowledge base/postgresql.md
  snippets/postgresql.sh
Due: lint-md

fix: improve usability
  containers/techradar/zalando/index.html
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/certify/package.yml
  knowledge base/task.md
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(rds): improve readibility
  knowledge base/cloud computing/aws/rds.md
Due: lint-md

feat(ansible): add error handling and validation
  knowledge base/ansible.md
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

feat(postgres): add commands and password file
  knowledge base/postgresql.md
  snippets/postgresql.sh
  snippets/postgresql.sql
Due: lint-md

feat(kb/slack): start slack's article
  knowledge base/slack.md
Due: lint-md
