Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(snippets): add conversion commands
  snippets/convert-between-formats.sh
Due: none

chore(ffmpeg): add source
  Makefile
  knowledge base/ffmpeg.md
  package.json
  snippets/convert-between-formats.sh
Due: validate-json, lint-md

chore(nas): dump upgrade commands
  .vscode/settings.json
  knowledge base/diy nas/README.md
  knowledge base/diy nas/v1.md
  knowledge base/openmediavault.md
Due: validate-json, lint-md

chore(letsencrypt): create valid certificates
  .ansible-lint-ignore
  .vscode/settings.json
  examples/ansible/letsencrypt.create-certificate.yml
  examples/pulumi/letsencrypt-certificate.dns01/.env
  examples/pulumi/letsencrypt-certificate.dns01/.env.fish
  examples/pulumi/letsencrypt-certificate.dns01/.gitignore
  examples/pulumi/letsencrypt-certificate.dns01/Pulumi.any.yaml
  examples/pulumi/letsencrypt-certificate.dns01/Pulumi.yaml
  examples/pulumi/letsencrypt-certificate.dns01/index.ts
  examples/pulumi/letsencrypt-certificate.dns01/package-lock.json
  examples/pulumi/letsencrypt-certificate.dns01/package.json
  examples/pulumi/letsencrypt-certificate.dns01/tsconfig.json
  knowledge base/acme.md
  knowledge base/acme.placeholder
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/cli.md
  knowledge base/letsencrypt.md
  knowledge base/openssl.md
  knowledge base/ssh.md
  snippets/ansible.tasks.yml
Due: validate-json, validate-yaml, lint-ansible, lint-md, lint-yaml

refactor(examples/gitlab): move role to ansible's folder
  examples/ansible/role.gitlab-omnibus-on-ec2/defaults/main.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/files/yum.gitlab_gitlab-ee.repo
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/certify/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/configure/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/install/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/main.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/meta/main.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/certify/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/configure/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/install/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/main.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/pre-flight.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/templates/gitlab.16.11.1.default.rb.j2
  examples/ansible/role.gitlab-omnibus-on-ec2/templates/gitlab.rb.j2
  examples/ansible/role.gitlab-omnibus-on-ec2/vars/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/.env
  examples/pulumi/gitlab-omnibus-on-aws-ec2/.env.fish
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-playbook.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/defaults/main.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/configure/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/tasks/install/omnibus.yml
  examples/pulumi/gitlab-omnibus-on-aws-ec2/ansible-role-gitlab-omnibus-on-ec2/vars/main.yml
Due: validate-yaml, lint-ansible, lint-yaml

chore(examples/pulumi): give default passphrase
  examples/pulumi/aws eks cluster/.env
  examples/pulumi/aws eks cluster/.env.fish
  examples/pulumi/multi-part cloud-init/.env
  examples/pulumi/multi-part cloud-init/.env.fish
Due: none

chore(gitlab): update notes after maintenance
  .vscode/settings.json
  knowledge base/gitlab.md
  knowledge base/pulumi.md
  snippets/aws.fish
  snippets/gitlab.omnibus.install.sh
  snippets/gitlab.omnibus.reconfigure.sh
  snippets/gitlab.omnibus.sh
  snippets/gitlab.omnibus.upgrade.sh
Due: validate-json, lint-md

chore(snippets): improve readibility
  .vscode/settings.json
  snippets/gitlab.pipeline.tasks.yml
  snippets/info-blocks.ado.md
  snippets/view-files.sh
  snippets/view.sh
Due: validate-json, validate-yaml, lint-md, lint-yaml

feat(kb): add bat's article
  knowledge base/bat.md
Due: lint-md

fix(gitlab): complete set of commands for restore
  knowledge base/gitlab.md
  snippets/gitlab.omnibus.sh
Due: lint-md

chore(gitlab): add more checks
  knowledge base/gitlab.md
  snippets/gitlab.omnibus.sh
Due: lint-md

fix(repo): use any python version available
  .vscode/settings.json
  Makefile
Due: validate-json

feat(gitea): add gitea's article and docker compose file
  docker/gitea/.gitignore
  docker/gitea/Makefile
  docker/gitea/config/app.defaults.ini
  docker/gitea/data/.gitkeep
  docker/gitea/docker-compose.yml
  knowledge base/gitea.md
Due: validate-yaml, lint-md, lint-yaml

chore(gitlab): try using docker compose
  docker/gitlab/.gitignore
  docker/gitlab/docker-compose.yml
  docker/gitlab/gitlab_root_password.txt
  examples/ansible/role.gitlab-omnibus-on-ec2/meta/requirements.yml
  knowledge base/ansible.md
  knowledge base/docker.md
  knowledge base/gitlab.md
  snippets/ansible.tasks.yml
  snippets/check-port-is-reachable.sh
  snippets/gitlab.docker.sh
  snippets/gitlab.package.sh
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(turris): try and fail to create a gitea lxc container
  knowledge base/dhcpcd.md
  knowledge base/lxc.md
  knowledge base/uci.md
  snippets/turris-os.create-container.sh
  snippets/turris-os.sh
  snippets/turris-os.start-container-at-boot.sh
Due: lint-md

chore(gitea): improve article
  knowledge base/gitea.md
  snippets/gitea.sh
Due: lint-md

chore(kb/firewalld): improve article
  .vscode/settings.json
  knowledge base/firewalld.md
  snippets/firewalld.sh
Due: validate-json, lint-md

chore(containers): add makefiles to everyone
  docker/boinc-client/Makefile
  docker/gitea/Makefile
  docker/paperless-ngx/Makefile
  docker/syncthing/Makefile
  docker/syncthing/docker-compose.yml
Due: validate-yaml, lint-yaml

chore(snippets/gnupg): add export commands
  snippets/gnupg.fish
Due: none

chore(kb/gitea): add https and lfs configuration sections
  knowledge base/gitea.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
