Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(kb/gopass): install using go
  knowledge base/gopass.md
Due: lint-md

chore(kb): marginally improve articles
  knowledge base/chezmoi.md
  knowledge base/shellcheck.md
Due: lint-md

chore(kb): start article for checkmake
  knowledge base/checkmake.md
Due: lint-md

chore(containers): maintain compositions
  containers/gitea/Makefile
  containers/monitoring/Makefile
  containers/node-exporter/Makefile
  containers/node-exporter/docker-compose.yml
  containers/syncthing/Makefile
  containers/syncthing/config/.gitkeep
  containers/syncthing/data/.gitkeep
Due: validate-yaml, lint-yaml

fix(containers/monitoring): set up permissions correctly
  containers/monitoring/Makefile
  containers/monitoring/README.md
  knowledge base/docker.md
Due: lint-md

feat(kb): start articles about turbot pipes
  knowledge base/turbot pipes/README.md
  knowledge base/turbot pipes/flowpipe.md
  knowledge base/turbot pipes/powerpipe.md
  knowledge base/turbot pipes/steampipe.md
Due: lint-md

refactor(kb): give linux-specific articles their own section
  .vscode/settings.json
  knowledge base/apk.md
  knowledge base/debian.md
  knowledge base/linux/alpine.md
  knowledge base/linux/arch.md
  knowledge base/linux/armbian.md
  knowledge base/linux/debian.md
  knowledge base/linux/fedora.md
  knowledge base/linux/funtoo.md
  knowledge base/linux/gentoo.md
  knowledge base/linux/kernel modules.md
  knowledge base/linux/lower the power consumption.md
  knowledge base/linux/manjaro.md
  knowledge base/linux/opensuse.md
  knowledge base/linux/optimize battery.md
  knowledge base/linux/scan documents.md
  knowledge base/openmediavault.md
Due: validate-json, lint-md

chore(snippets/format-conversion): add webp to png
  snippets/convert-between-formats.sh
Due: none

chore(kb): improve readibility
  knowledge base/asdf.md
Due: lint-md

chore(aws): add commands for ecr
  knowledge base/cloud computing/aws/ecr.md
  snippets/aws.fish
Due: lint-md

chore(kb): kickstart articles to widen
  knowledge base/kics.md
  knowledge base/osquery.md
  knowledge base/stress.md
Due: lint-md

chore(gitlab): add the gitlab handbook source
  knowledge base/gitlab.md
Due: lint-md

chore(kb): add sources from my last projects
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/ec2.md
  knowledge base/cloud computing/aws/ecs.md
  knowledge base/cloud computing/aws/eks.md
  knowledge base/docker.md
  knowledge base/gitlab.md
  knowledge base/kubernetes/README.md
Due: lint-md

chore(snippets/pulumi): add useful commands
  snippets/pulumi.fish
Due: none

chore(kb/osx): add apps of interest
  knowledge base/mac os x/README.md
Due: lint-md

chore(kb): add placeholder for iam
  .vscode/settings.json
  knowledge base/iam.placeholder
Due: validate-json

chore(kb): start article for vaultwarden
  .vscode/settings.json
  knowledge base/vaultwarden.md
Due: validate-json, lint-md

chore(kb): start article for wazuh
  knowledge base/wazuh.md
Due: lint-md

chore(kb): improve on template
  knowledge base/template.md
Due: lint-md
