Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(kb/gitlab/runner): correct helm's installation command
  knowledge base/gitlab/runner.md
Due: lint-md

chore(kb/awx): improve readibility
  knowledge base/awx.md
Due: lint-md

fix(kb): do not take for granted all projects use gitlab
  knowledge base/template.md
Due: lint-md

chore(kb): start articles for dblab
  knowledge base/database lab.md
  knowledge base/dblab.md
Due: lint-md

chore(kb/file-permissions): improve and promote to article
  knowledge base/file permissions.md
  knowledge base/file permissions.placeholder
Due: lint-md

chore: add source for amdgpu and basic docker commands
  knowledge base/amdgpu.md
  snippets/docker.sh
Due: lint-md

refactor(pulumi/examples): use specific section for aws stuff
  examples/pulumi/aws eks cluster/.env
  examples/pulumi/aws eks cluster/.env.fish
  examples/pulumi/aws eks cluster/index.ts
  examples/pulumi/aws/eks cluster/.env.fish
  examples/pulumi/aws/eks cluster/.gitignore
  examples/pulumi/aws/eks cluster/Pulumi.any.yaml
  examples/pulumi/aws/eks cluster/Pulumi.yaml
  examples/pulumi/aws/eks cluster/index.ts
  examples/pulumi/aws/eks cluster/package.json
  examples/pulumi/aws/eks cluster/tsconfig.json
  examples/pulumi/aws/gitlab omnibus on ec2 instance/.env.fish
  examples/pulumi/aws/gitlab omnibus on ec2 instance/.gitignore
  examples/pulumi/aws/gitlab omnibus on ec2 instance/Makefile
  examples/pulumi/aws/gitlab omnibus on ec2 instance/Pulumi.any.yaml
  examples/pulumi/aws/gitlab omnibus on ec2 instance/Pulumi.yaml
  examples/pulumi/aws/gitlab omnibus on ec2 instance/ansible-playbook.yml
  examples/pulumi/aws/gitlab omnibus on ec2 instance/aws_ec2.yml
  examples/pulumi/aws/gitlab omnibus on ec2 instance/index.ts
  examples/pulumi/aws/gitlab omnibus on ec2 instance/package.json
  examples/pulumi/aws/gitlab omnibus on ec2 instance/requirements.txt
  examples/pulumi/aws/gitlab omnibus on ec2 instance/tsconfig.json
  examples/pulumi/certificate from letsencrypt with dns01 challenge/.env
  examples/pulumi/certificate from letsencrypt with dns01 challenge/.env.fish
  examples/pulumi/certificate from letsencrypt with dns01 challenge/.gitignore
  examples/pulumi/certificate from letsencrypt with dns01 challenge/Pulumi.any.yaml
  examples/pulumi/certificate from letsencrypt with dns01 challenge/Pulumi.yaml
  examples/pulumi/certificate from letsencrypt with dns01 challenge/index.ts
  examples/pulumi/certificate from letsencrypt with dns01 challenge/package-lock.json
  examples/pulumi/certificate from letsencrypt with dns01 challenge/package.json
  examples/pulumi/certificate from letsencrypt with dns01 challenge/tsconfig.json
  examples/pulumi/gitlab-omnibus-on-aws-ec2/.env
  examples/pulumi/gitlab-omnibus-on-aws-ec2/.env.fish
  examples/pulumi/gitlab-omnibus-on-aws-ec2/package.json
Due: validate-json, validate-yaml, lint-ansible, lint-yaml

feat(pulumi/examples): add generic aws ec2 instance
  examples/pulumi/aws/ec2 instance/.env.fish
  examples/pulumi/aws/ec2 instance/.gitignore
  examples/pulumi/aws/ec2 instance/Pulumi.any.yaml
  examples/pulumi/aws/ec2 instance/Pulumi.yaml
  examples/pulumi/aws/ec2 instance/index.ts
  examples/pulumi/aws/ec2 instance/package.json
  examples/pulumi/aws/ec2 instance/tsconfig.json
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/ssm.md
  snippets/aws.fish
  snippets/systemd.sh
Due: validate-json, validate-yaml, lint-md, lint-yaml

test: try nginx proxy manager
  containers/nginx-proxy-manager/.gitignore
  containers/nginx-proxy-manager/Makefile
  containers/nginx-proxy-manager/docker-compose.yml
  containers/photoprism/Makefile
  knowledge base/kubernetes/cert-manager.md
  knowledge base/nginx proxy manager.md
Due: validate-yaml, lint-md, lint-yaml

chore: maintain the kb a little
  knowledge base/chezmoi.md
  knowledge base/motd.md
Due: lint-md

feat(prometheus): write to remote
  knowledge base/prometheus.md
Due: lint-md

feat(dnf): commands for selective upgrades
  .vscode/settings.json
  knowledge base/dnf.md
  snippets/dnf.sh
Due: validate-json, lint-md

chore(gitlab-package): create configuration backups
  knowledge base/gitlab/README.md
  snippets/gitlab.package.sh
Due: lint-md

chore: add iam policy example for accessing folders in buckets
  examples/aws/iam.policies/access folder in bucket.json
Due: validate-json

fix(examples/pulumi/gitlab): adjust path traversal to get to the example role
  .ansible-lint
  .ansible-lint-ignore
  examples/pulumi/aws/gitlab omnibus on ec2 instance/ansible-playbook.yml
Due: validate-yaml, lint-ansible, lint-yaml

chore(kb/aws): start article about managed opensearch
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/opensearch.md
  snippets/aws.fish
Due: lint-md

chore(gitlab): improve notes about backups
  knowledge base/acl.md
  knowledge base/cron.md
  knowledge base/crontab.md
  knowledge base/gitlab/README.md
  knowledge base/tar.md
  snippets/ansible.sh
  snippets/ansible.tasks.yml
  snippets/archives.sh
  snippets/cronjobs.sh
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(markdown): try out alerts
  knowledge base/markdown.md
  snippets/info-blocks.md
Due: lint-md

chore(kb/lefthook): add source
  knowledge base/lefthook.md
Due: lint-md

chore(snippets/pulumi): add freshly used commands
  snippets/pulumi.fish
Due: none

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
