Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(self-hosting): include photoprism and a generic article
  .vscode/settings.json
  containers/photoprism/docker-compose.original.yml
  knowledge base/acronyms and abbreviations.md
  knowledge base/baikal.md
  knowledge base/caldav.md
  knowledge base/carddav.md
  knowledge base/gitea.md
  knowledge base/gitlab.md
  knowledge base/nextcloud.md
  knowledge base/photoprism.md
  knowledge base/self-hosting.md
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(wazuh): improve knowledge base's article
  .vscode/settings.json
  knowledge base/wazuh/README.md
  knowledge base/wazuh/server architecture.png
Due: validate-json, lint-md

chore(containers): create composition example for photoprism
  containers/photoprism/docker-compose.yml
Due: validate-yaml, lint-yaml

chore(kb): start task's article
  .vscode/settings.json
  knowledge base/task.md
Due: validate-json, lint-md

chore(wazuh): include installation and configuration sections
  .vscode/settings.json
  knowledge base/cloud computing/aws/cli.md
  knowledge base/wazuh/README.md
  snippets/aws.fish
Due: validate-json, lint-md

chore(kb): start articles about proxies
  .vscode/settings.json
  knowledge base/acme.md
  knowledge base/nginx proxy manager.md
  knowledge base/nginx.md
  knowledge base/proxy.md
  knowledge base/traefik.md
Due: validate-json, lint-md

chore(kb): update nerd fonts installation plus setup on vscode
  .vscode/settings.json
  knowledge base/nerd fonts.md
  knowledge base/visual studio code.md
Due: validate-json, lint-md

chore(wazuh): add minor precautions to automate
  knowledge base/ansible.md
  knowledge base/cloud computing/aws/ecr.md
Due: lint-ansible, lint-md

chore(yum): start article and save commands in snippets
  .vscode/settings.json
  README.md
  knowledge base/dnf.md
  knowledge base/yum.md
  snippets/gitlab.package.sh
Due: validate-json, lint-md

chore(kb): start article for supervisor
  knowledge base/supervisor.md
  knowledge base/systemd.md
Due: lint-md

chore(yum): improve articles
  knowledge base/dnf.md
  knowledge base/yum.md
Due: lint-md

chore(best practices): add the xy problem to the sources
  knowledge base/best practices.md
Due: lint-md

add sources, review generic concepts and improve wording
  knowledge base/best practices.md
Due: lint-md

chore(best-practices): add the section about management and the action fallacy
  knowledge base/best practices.md
Due: lint-md

chore(pulumi): add commands for plugin management
  knowledge base/pulumi.md
  snippets/pulumi.fish
Due: lint-md

chore(snippets): review recently used commands
  snippets/cloud-init.sh
  snippets/git.sh
  snippets/gitlab.package.sh
Due: none

chore(ansible): add listing commands to the set
  knowledge base/ansible.md
  snippets/ansible.sh
Due: lint-ansible, lint-md

chore(gitlab): review commands for automated installation
  knowledge base/cloud computing/aws/cli.md
  snippets/curl.sh
  snippets/gitlab.package.sh
  snippets/openssl.sh
Due: lint-md

chore(kb/lefthook): show how to skip
  knowledge base/lefthook.md
Due: lint-md

chore(aws/ec2): add how to query instances' metadata server
  knowledge base/cloud computing/aws/ec2.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
