Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(kb/minikube): quickly add a couple more commands
  knowledge base/kubernetes/minikube.md
Due: lint-md

chore(kb): clarify minor actions
  knowledge base/jq.md
  knowledge base/pulumi.md
  knowledge base/tcpdump.md
Due: lint-md

chore(kb/awx): add first installation testing results
  knowledge base/awx.md
Due: lint-md

fix(kb/pulumi): clarify the use of --target-dependants
  knowledge base/pulumi.md
Due: lint-md

chore(kb/awx): improve management processes with runs
  .vscode/settings.json
  knowledge base/awx.md
  knowledge base/kubernetes/minikube.md
Due: validate-json, lint-md

chore(kb/postgresql): improve tl;dr
  .vscode/settings.json
  knowledge base/postgresql.md
Due: validate-json, lint-md

feat(kb): start article on sdkman
  .vscode/settings.json
  knowledge base/sdkman.md
Due: validate-json, lint-md

chore(kb/gitlab): add pipeline source
  .markdownlint.yaml
  knowledge base/gitlab.md
Due: validate-yaml, lint-md, lint-yaml

chore(kb/docker): improve tl;dr
  .vscode/settings.json
  knowledge base/docker.md
Due: validate-json, lint-md

chore(kb/gitlab): add section for code ownership
  knowledge base/gitlab.md
Due: lint-md

chore(kb/pulumi): add commands to rename projects to the tl;dr
  knowledge base/pulumi.md
Due: lint-md

chore(kb/awx): add findings about kustomized helm runs
  knowledge base/awx.md
  knowledge base/kubernetes/kubectl.md
  knowledge base/kubernetes/kustomize.md
Due: lint-md

chore(lefthook): add the 'debug' command
  .lefthook.yml
Due: validate-yaml, lint-yaml

refactor(snippets/info-blocks): move all block types under a single file
  knowledge base/html.placeholder
  snippets/alert.md
  snippets/info-blocks.md
  snippets/tip.md
  snippets/warning.md
Due: lint-md

chore(repo-management): add todomd file
  TODO.md
  knowledge base/todomd.placeholder
Due: lint-md

chore(repo-management): improve configuration for markdownlint-cli
  .markdownlint.yaml
  .markdownlintignore
Due: validate-yaml, lint-yaml

chore(kb): add article about kubeconform
  .vscode/settings.json
  knowledge base/kubernetes/kubeconform.md
  knowledge base/kubernetes/kubeval.md
Due: validate-json, lint-md

chore(kb): add 'oidc' to the abbreviation list
  .vscode/settings.json
  knowledge base/acronyms and abbreviations.md
Due: validate-json, lint-md

chore(kb/awx): review and improve the article
  knowledge base/awx.md
  knowledge base/kubernetes/k9s.placeholder
  knowledge base/kubernetes/kubectl.md
Due: lint-md

chore(kb/dnf): add versionlock commands to the tl;dr
  knowledge base/dnf.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
