Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore: add resources found while looking for a local carddev server
  .vscode/settings.json
  containers/baikal/Makefile
  containers/baikal/docker-compose.yml
  examples/baikal.yaml
  knowledge base/baikal.md
  knowledge base/caldav.md
  knowledge base/carddav.md
  knowledge base/docker.md
  knowledge base/nextcloud.md
  knowledge base/vcard.md
  knowledge base/webdav.md
Due: validate-json, validate-yaml, lint-md, lint-yaml

fix(containers): use volumes where possible
  containers/gitea/.gitignore
  containers/gitea/Makefile
  containers/gitea/data/.gitkeep
  containers/gitea/docker-compose.yml
  containers/paperless-ngx/Makefile
  containers/syncthing/config/.gitkeep
  containers/syncthing/docker-compose.yml
  examples/gitea.defaults.ini
Due: validate-yaml, lint-yaml

chore(starship): improve configuration notes
  examples/dotfiles/.config/starship.toml
  knowledge base/starship.md
Due: lint-md

chore(nextcloud): update containers files
  containers/nextcloud-aio/Makefile
  containers/nextcloud-aio/docker-compose.yml
  containers/nextcloud/Makefile
  containers/nextcloud/README.md
  containers/nextcloud/docker-compose.yml
Due: validate-yaml, lint-md, lint-yaml

chore(node-exporter): use fixed sha
  containers/node-exporter/Makefile
  containers/node-exporter/docker-compose.yml
Due: validate-yaml, lint-yaml

chore(monitoring): use compose profiles
  containers/monitoring/docker-compose.yml
Due: validate-yaml, lint-yaml

chore(snippets): add random password generation
  .vscode/settings.json
  knowledge base/generate random passwords.md
  snippets/generate-random-passwords.sh
Due: validate-json, lint-md

fix(containers): generate files only when needed
  containers/nextcloud/Makefile
  containers/syncthing/Makefile
Due: none

chore(kb/yaml): add gotcha about key naming convention
  knowledge base/yaml.md
Due: lint-md

fix(nexcloud): remove permissions from password files
  containers/nextcloud/Makefile
Due: none

chore(pulumi): save findings from experiments
  snippets/pulumi.fish
  snippets/pulumi.iam-groups-generation.ts
Due: none

chore(turbot-pipes): save findings from experiments
  .vscode/settings.json
  knowledge base/turbot pipes/powerpipe.md
  knowledge base/turbot pipes/steampipe.md
Due: validate-json, lint-md

chore(turbot-pipes): save notions found by trying to run powerpipe from a gitlab task
  knowledge base/apt.md
  knowledge base/turbot pipes/powerpipe.md
  knowledge base/turbot pipes/steampipe.md
  snippets/create-users.sh
  snippets/gitlab.pipeline.tasks.yml
Due: validate-yaml, lint-md, lint-yaml

chore(kb): promote placeholders to todo articles
  .vscode/settings.json
  knowledge base/acronyms and abbreviations.md
  knowledge base/adr.md
  knowledge base/adr.placeholder
  knowledge base/best practices.md
  knowledge base/changelog.placeholder
  knowledge base/cni.md
  knowledge base/cni.placeholder
  knowledge base/containerd.md
  knowledge base/containerd.placeholder
  knowledge base/docker.md
  knowledge base/harvester hci.placeholder
  knowledge base/iac.md
  knowledge base/iac.placeholder
  knowledge base/iam.md
  knowledge base/iam.placeholder
  knowledge base/json-schema.md
  knowledge base/json-schema.placeholder
  knowledge base/keep a changelog.md
  knowledge base/kubernetes/rancher.md
  knowledge base/kubernetes/rancher.placeholder
  knowledge base/kvm.md
  knowledge base/kvm.placeholder
  knowledge base/nerdctl.md
  knowledge base/nerdctl.placeholder
  knowledge base/nix.md
  knowledge base/nixos.md
  knowledge base/nixos.placeholder
  knowledge base/opa.md
  knowledge base/podman.md
  knowledge base/rancher desktop.md
  knowledge base/rancher desktop.placeholder
  knowledge base/toolbox.md
Due: validate-json, lint-md

chore(turbot-pipes): continue learning
  knowledge base/cloudquery.md
  knowledge base/turbot pipes/README.md
  knowledge base/turbot pipes/steampipe.md
Due: lint-md

chore(kb): promote placeholders to todo articles
  knowledge base/docker.md
  knowledge base/homebrew.md
  knowledge base/mas.md
  knowledge base/renovate.md
  knowledge base/renovatebot.placeholder
  knowledge base/shasum.md
  knowledge base/shasum.placeholder
  knowledge base/sops.md
  knowledge base/sops.placeholder
  knowledge base/spiffe.md
  knowledge base/spiffe.placeholder
  knowledge base/teller.md
  knowledge base/teller.placeholder
  knowledge base/testcontainers.md
  knowledge base/testcontainers.placeholder
  knowledge base/todomd.md
  knowledge base/todomd.placeholder
  knowledge base/whalebrew.md
  knowledge base/whalebrew.placeholder
Due: lint-md

chore(kb): start article about technology radars
  .vscode/settings.json
  knowledge base/technology radar.md
Due: validate-json, lint-md

chore(kb): improve articles about wazuh
  .vscode/settings.json
  knowledge base/acronyms and abbreviations.md
  knowledge base/siem.md
  knowledge base/wazuh.md
  knowledge base/wazuh/README.md
  knowledge base/wazuh/components and data flow.png
Due: validate-json, lint-md

chore(techradar): save experimentation with aoe's techradar
  .vscode/settings.json
  containers/techradar/aoe/.gitignore
  containers/techradar/aoe/Makefile
  containers/techradar/aoe/README.md
  containers/techradar/aoe/about.md
  containers/techradar/aoe/config.json
  containers/techradar/aoe/custom.css
  containers/techradar/aoe/docker-compose.yml
  containers/techradar/aoe/package.json
  containers/techradar/aoe/public/favicon.ico
  containers/techradar/aoe/public/logo.svg
  containers/techradar/aoe/radar/2024-05-24/git.md
  containers/techradar/aoe/radar/2024-05-25/gitea.md
  containers/techradar/aoe/radar/2024-05-25/nodejs.md
  containers/techradar/aoe/radar/2024-05-25/opentofu.md
  containers/techradar/aoe/radar/2024-05-25/pulumi.md
  containers/techradar/aoe/radar/2024-05-25/terraform.md
  knowledge base/technology radar.md
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(techradar): save experimentation with zalando's techradar
  containers/techradar/zalando/README.md
  containers/techradar/zalando/docker-compose.yml
  containers/techradar/zalando/index.html
  containers/techradar/zalando/radar.css
  containers/techradar/zalando/radar.js
  containers/techradar/zalando/radar.json
Due: validate-json, validate-yaml, lint-md, lint-yaml

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
