Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(postgresql): generate scram-sha-256 hashes
  knowledge base/postgresql.md
Due: lint-md

chore(ansible): add sources and dictionary task
  knowledge base/acronyms and abbreviations.md
  knowledge base/ansible.md
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(ansible): time tasks execution
  knowledge base/ansible.md
Due: lint-ansible, lint-md

chore(postgresql): improve automation
  knowledge base/postgresql.md
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(rds): add source about renaming instances
  knowledge base/cloud computing/aws/rds.md
Due: lint-md

chore(aws/iam): add source
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(postgresql): create role and user statements do not use if not exists
  snippets/ansible/tasks.yml
  snippets/postgresql.sql
Due: validate-yaml, lint-ansible, lint-yaml

chore(kb/aws/eks): extend ebs storage options a little
  knowledge base/cloud computing/aws/eks.md
Due: lint-md

fix(zed): put config file example where it belongs
  examples/dotfiles/.config/zed/settings.json
  examples/zed/settings.json
Due: validate-json

chore: add acronyms of interest
  knowledge base/acronyms and abbreviations.md
Due: lint-md

chore: dump updated configuration settings
  knowledge base/zed.placeholder
Due: none

chore: quick dump of key management commands and notions
  knowledge base/acronyms and abbreviations.md
  snippets/aws.fish
Due: lint-md

chore(ansible): dump new findings
  knowledge base/ansible.md
  snippets/ansible/commands.sh
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(markdown): expand mermaid graphs a little
  knowledge base/markdown.md
  knowledge base/mermaid.js.md
Due: lint-md

chore(postgres): dump new findings
  knowledge base/cloud computing/aws/rds.md
  knowledge base/postgresql.md
  snippets/postgresql.sql
Due: lint-md

fix(ansible): correct typo
  knowledge base/ansible.md
Due: lint-ansible, lint-md

chore(self-hosting): add gogs
  knowledge base/self-hosting.md
Due: lint-md

chore(snippet): add conversion from webp to gif
  snippets/convert between formats.sh
Due: none

chore(postgresql): dump findings after failed migration
  knowledge base/cloud computing/aws/rds.md
  knowledge base/postgresql.md
  snippets/postgresql.sql
Due: lint-md

fix: remove extra line
  snippets/aws.fish
Due: none
