Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


lint:
  parallel: true
  commands:
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    commitlint:
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(kb/pulumi): run from a container, add sources
  knowledge base/pulumi.md
Due: lint-md

chore(kb/aws): describe vm images given their id
  knowledge base/cloud computing/aws/ec2.md
Due: lint-md

chore(pulumi): hint to the plan option
  knowledge base/pulumi.md
Due: lint-md

chore(kb/pulumi): le wild 'about' example appears
  knowledge base/pulumi.md
Due: lint-md

fix(kb/make): clarify inclusion of env files
  knowledge base/gnu userland/make.md
Due: lint-md

chore(kb): improve article readibility
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/oci/README.md
Due: lint-md

fix(kb/aws): add missing source
  knowledge base/cloud computing/aws/README.md
Due: lint-md

test(fah): try and fail to run folding at home as docker container
  .gitignore
  .vscode/settings.json
  Makefile
  docker/folding-at-home/README.md
  docker/folding-at-home/data/config.xml
  docker/folding-at-home/docker-compose.yaml
  package.json
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(kb/kubernetes): start articles about k3s and rke2
  .vscode/settings.json
  knowledge base/kubernetes/README.md
  knowledge base/kubernetes/k3s.md
  knowledge base/kubernetes/rke2.md
Due: validate-json, lint-md

chore(kb): start article about paperless-ngx
  knowledge base/paperless-ngx.md
Due: lint-md

fix(kb/gnupg): fix the order of arguments
  knowledge base/gnupg.md
Due: lint-md

chore(kb/jq): select from list
  knowledge base/jq.md
Due: lint-md

chore(kb/make): check variables are set
  knowledge base/gnu userland/make.md
Due: lint-md

chore(kb/tmux): create dedicated sessions
  knowledge base/tmux.placeholder
Due: none

feat(docker/paperless): start using paperless-ngx in docker containers
  docker/paperless-ngx/.env
  docker/paperless-ngx/README.md
  docker/paperless-ngx/consume/.gitkeep
  docker/paperless-ngx/docker-compose.env
  docker/paperless-ngx/docker-compose.yaml
  docker/paperless-ngx/export/.gitkeep
Due: validate-yaml, lint-md, lint-yaml

feat(docker): add some command examples for compositions
  knowledge base/docker.md
Due: lint-md

chore(ansible): improve article and examples for aws ssm integration
  examples/ansible/aws_ec2.yml
  knowledge base/ansible.md
  knowledge base/cloud computing/aws/ssm.md
Due: validate-yaml, lint-md, lint-yaml

chore(kb/gitlab): give a couple words about configuration
  knowledge base/gitlab.md
Due: lint-md

chore(kb/jq): hint how to check a value in a yaml file
  knowledge base/jq.md
Due: lint-md

chore(kb/awx): start article about awx, improve dependent ones
  knowledge base/awx.md
  knowledge base/kubernetes/minikube.md
Due: lint-md
