Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-ansible:
  run: .venv/bin/ansible-lint

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(openssl): vastly improve snippets
  knowledge base/openssl.md
  snippets/openssl.sh
Due: lint-md

chore(bash): construct prompt
  knowledge base/bash.md
Due: lint-md

chore(gitlab): migrate between package instances
  knowledge base/gitlab.md
Due: lint-md

chore(gitlab/runner): try and fix the adversion runners apparently have to certificates
  .editorconfig
  examples/ansible/tls-certificate.yml
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/ssm.md
  knowledge base/curl.md
  snippets/aws.fish
  snippets/curl.sh
  snippets/dnf.sh
  snippets/openssl.sh
  snippets/systemd.sh
  snippets/webserver.sh
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(containers): make photoprism useful
  containers/photoprism/Makefile
  containers/photoprism/docker-compose.yml
Due: validate-yaml, lint-yaml

chore(ansible): gather users' homedir and use it for something
  knowledge base/ansible.md
  snippets/ansible.tasks.yml
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore(ansible): add alternative to gather users' homedir and use it for something
  snippets/ansible.tasks.yml
Due: validate-yaml, lint-ansible, lint-yaml

chore(kb/best-practices): add source
  knowledge base/best practices.md
Due: lint-md

fix(ansible): use the correct command
  snippets/ansible.tasks.yml
Due: validate-yaml, lint-ansible, lint-yaml

fix(ansible): continue using the become directive in the block
  snippets/ansible.tasks.yml
Due: validate-yaml, lint-ansible, lint-yaml

fix(ansible): avoid showing command as changed
  snippets/ansible.tasks.yml
Due: validate-yaml, lint-ansible, lint-yaml

refactor: expand gitlab's kb with its own section and the intallation of k8s runners
  examples/kubernetes/values.gitlab-runner.yaml
  knowledge base/gitea.md
  knowledge base/gitlab/README.md
  knowledge base/gitlab/runner.md
  knowledge base/kubernetes/helm.md
  knowledge base/self-hosting.md
  knowledge base/task.md
  snippets/gitlab-runner.sh
  snippets/helm.sh
  snippets/kubectl.sh
Due: validate-yaml, lint-md, lint-yaml

chore(kb): start article about uptime kuma
  knowledge base/monitoring.md
  knowledge base/self-hosting.md
  knowledge base/uptime kuma.md
Due: lint-md

feat(kb/prometheus): filter out metrics
  .vscode/settings.json
  knowledge base/prometheus.md
Due: validate-json, lint-md

feat(kb/kubernetes): improve readability
  examples/kubernetes/values.gitlab-runner.yaml
  knowledge base/kubernetes/README.md
Due: validate-yaml, lint-md, lint-yaml

feat(kb/tmux): review and promote to article
  knowledge base/tmux.md
  knowledge base/tmux.placeholder
Due: lint-md

feat(kb): start article about opensource
  .vscode/settings.json
  knowledge base/opensearch.md
Due: validate-json, lint-md

chore: improve notes about prometheus and grafana
  .vscode/settings.json
  examples/kubernetes/grafana on k8s using helm.md
  examples/kubernetes/prometheus on k8s using helm.md
  examples/kubernetes/values.gitlab-runner.yaml
  examples/kubernetes/values.prometheus.yaml
  knowledge base/grafana.md
  knowledge base/prometheus.md
  snippets/helm.sh
  snippets/kubectl.sh
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(kb/amdgpu): update for 6.1.2
  knowledge base/amdgpu.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-ansible: any of: *ansible*
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.md
  lint-yaml: any of: *.{yaml,yml}
