Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: .venv/bin/yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(osx): remap home and end keys
  knowledge base/mac os x/README.md
Due: lint-md

chore(gitlab): skip auto backup upon upgrade
  knowledge base/gitlab/README.md
Due: lint-md

refactor(lefthook): slice config file into dedicated config files
  .commitlintrc.js
  .gitignore
  .lefthook.yml
  Makefile
  lefthook/ansible.yml
  lefthook/commitlint.yml
  lefthook/docker.yml
  lefthook/json.yml
  lefthook/kics.yml
  lefthook/markdown.yml
  lefthook/yaml.yml
  package.json
  requirements.txt
Due: validate-json, validate-yaml, lint-yaml

chore(pulumi): fun with providers
  .lefthook.yml
  knowledge base/npm.md
  snippets/pulumi/commands.fish
Due: validate-yaml, lint-md, lint-yaml

chore(gitlab): upgrade package-based instance
  knowledge base/cloud computing/aws/ebs.md
  snippets/ansible/commands.sh
  snippets/aws/commands.fish
  snippets/gitlab/gitlab-runner.sh
  snippets/gitlab/package installation.sh
Due: lint-md

feat(aws): add notes about savings plans
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(best-practices): add source
  knowledge base/best practices.md
Due: lint-md

chore(pulumi): plugin removal commands
  snippets/pulumi/commands.fish
Due: none

chore(repo): improve markdownlint settings
  .markdownlint.yaml
Due: validate-yaml, lint-yaml

chore(osx): bypass gatekeeper commands
  knowledge base/mac os x/README.md
Due: lint-md

fix(dblab): installation and sources
  knowledge base/dblab.md
Due: lint-md

chore(gitlab): experiment with advanced search
  snippets/gitlab/package installation.sh
Due: none

chore(gitea): run on k8s
  snippets/cut.sh
  snippets/gitea.sh
  snippets/helm.sh
  snippets/jd.fish
  snippets/kubectl.sh
Due: none

chore(zed): local settings with examples
  .zed/settings.json
  examples/dotfiles/.config/zed/settings.jsonc
Due: validate-json

chore(lefthook): remove kicks
  .lefthook.yml
Due: validate-yaml, lint-yaml

chore(best-practices): bring items up to date
  knowledge base/best practices.md
Due: lint-md

chore(kb): start article about netbsd
  knowledge base/netbsd.md
Due: lint-md

chore(kb/comm): add real-world example
  knowledge base/comm.md
Due: lint-md

chore(find): more examples
  knowledge base/find.md
  snippets/find.sh
Due: lint-md

chore(kb/netbsd): list packages' contents
  knowledge base/netbsd.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.{markdown,md}
  lint-yaml: any of: *.{yaml,yml}
