Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(examples/pulumi): add example for multi-part cloud-init
  examples/cloud-init/aws.ssm.yaml
  examples/pulumi/multi-part cloud-init/.env
  examples/pulumi/multi-part cloud-init/.gitignore
  examples/pulumi/multi-part cloud-init/Pulumi.all.yaml
  examples/pulumi/multi-part cloud-init/Pulumi.yaml
  examples/pulumi/multi-part cloud-init/index.ts
  examples/pulumi/multi-part cloud-init/package.json
  examples/pulumi/multi-part cloud-init/tsconfig.json
  knowledge base/cloud-init.md
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(repo): fix repo management
  .lefthook.yml
Due: validate-yaml, lint-yaml

chore(repo): fix repo management
  package.json
Due: validate-json

chore(kb/pulumi): add workshops source
  knowledge base/pulumi.md
Due: lint-md

chore(gpg): improve gpg-agent command selection
  knowledge base/gnupg.md
  snippets/gpg.fish
Due: lint-md

fix(pulumi): add missing stdin placeholder
  snippets/pulumi.fish
Due: none

chore(kb/aws): improve services description
  knowledge base/cloud computing/aws/README.md
Due: lint-md

feat(kb/lefthook): use remote config
  .lefthook.yml
  knowledge base/lefthook.md
Due: validate-yaml, lint-md, lint-yaml

chore(kb/gnupg): add source
  knowledge base/gnupg.md
Due: lint-md

chore(kb/template): make references spaces more pop
  knowledge base/template.md
Due: lint-md

chore(kb/aws): iam policy example
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/s3.md
Due: lint-md

fix(kb/aws): iam policy example
  examples/aws/iam.policies/temporary.ro-access.json
  knowledge base/cloud computing/aws/README.md
Due: validate-json, lint-md

fix(aws/iam): make the policy work correctly
  examples/aws/iam.policies/temporary.ro-access.policy.json
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/cli.md
Due: validate-json, lint-md

chore: add links for services images
  knowledge base/cloud computing/azure/README.placeholder
  knowledge base/cloud computing/gcp/README.placeholder
Due: none

chore(kb): add placeholder for creating png images from svg
  knowledge base/create png images from svg files.placeholder
Due: none

chore(kb/pulumi): add reading
  knowledge base/pulumi.md
Due: lint-md

chore(kb/lefthook): add commands for hooks reset
  knowledge base/lefthook.md
Due: lint-md

chore(repo): add words to the vocabulary
  .vscode/settings.json
Due: validate-json

chore(ansible/examples): add the proper ternary operator
  .ansible-lint-ignore
  .editorconfig
  .lefthook.yml
  Makefile
  examples/ansible/knockd.yml
  examples/ansible/pi.pihole.docker-compose.yaml
  examples/ansible/templating.yml
  knowledge base/visual studio code.md
  requirements.txt
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore: create certificates for gitlab using pulumi, letsencrypt and cloud-init
  knowledge base/acme.placeholder
  knowledge base/acronyms and abbreviations.md
  knowledge base/cloud-init.md
  knowledge base/pulumi.md
Due: lint-md
