Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


lint:
  parallel: true
  commands:
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    commitlint:
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore(kb/gitlab): add pipeline templates to the sources
  knowledge base/gitlab.md
Due: lint-md

fix(kb/jsonpath): replace dead source
  knowledge base/jsonpath.md
Due: lint-md

fix(kb/eks): add sources about storage use
  knowledge base/cloud computing/aws/cli.md
  knowledge base/cloud computing/aws/eks.md
Due: lint-md

fix(kb/make): conditionally import a file deending on the target's name
  knowledge base/gnu userland/make.md
Due: lint-md

chore(kb): start notes about buildah
  .vscode/settings.json
  knowledge base/buildah.md
  knowledge base/gitlab.md
  knowledge base/kubernetes/kaniko.placeholder
Due: validate-json, lint-md

chore(kb/buildah): add cleanup commands
  knowledge base/buildah.md
Due: lint-md

chore(kb): add notes about docker image creation in gitlab runners
  knowledge base/buildah.md
  knowledge base/cloud computing/aws/ecr.md
  knowledge base/docker.md
  knowledge base/git.md
  knowledge base/gitlab.md
Due: lint-md

chore(kb): add Goodhart's law point to the best practice
  knowledge base/best practices.md
Due: lint-md

chore(kb/gitlab): specify conditions for jobs
  knowledge base/gitlab.md
Due: lint-md

chore(snippets): bring in commands and functions from the kb
  snippets/aws.fish
  snippets/functions.sh
  snippets/gitlab-runner.sh
  snippets/gitlab.sh
  snippets/gpg.fish
  snippets/k3s.install.bash
  snippets/osx.sh
  snippets/pulumi.fish
Due: none

chore(snippet/info-blocks): add note about it working only on azure devops
  snippets/info-blocks.md
Due: lint-md

chore(kb/aws): add initial notes aboout aws config
  knowledge base/cloud computing/aws/README.md
Due: lint-md

chore(kb/ssh): improved examples and readibility
  examples/ssh/ssh_config
  examples/ssh/sshd_config
  knowledge base/gnupg.md
  knowledge base/ssh.md
Due: lint-md

chore(gitlab): install gitlab's omnibus package in a ec2 instance
  knowledge base/cloud computing/aws/ec2.md
  knowledge base/cloud computing/aws/ssm.md
  knowledge base/gitlab.md
  knowledge base/systemd.md
  snippets/gitlab.omnibus.install.sh
  snippets/gitlab.omnibus.reconfigure.sh
  snippets/gitlab.omnibus.upgrade.sh
Due: lint-md

chore(gitlab): improve installation commands
  knowledge base/cloud computing/aws/ssm.md
  knowledge base/gitlab.md
  snippets/gitlab.omnibus.install.sh
  snippets/gitlab.omnibus.reconfigure.sh
Due: lint-md

chore(aws/ssm): register how ssm worked before i forget
  .ansible-lint-ignore
  ansible/playbooks/aws.ec2.enable-ssm-agent.yml
  ansible/playbooks/darwin.xcode-cli-tools.install.yml
  knowledge base/ansible.md
  knowledge base/cloud computing/aws/ec2.md
  knowledge base/cloud computing/aws/ssm.md
  knowledge base/kubernetes/kcl.placeholder
Due: validate-yaml, lint-md, lint-yaml

chore: improve repo management
  .editorconfig
  .lefthook.yml
  .vscode/settings.json
  Makefile
  requirements.txt
Due: validate-json, validate-yaml, lint-yaml

chore: improve repo management
  .lefthook.yml
  .yamllint.yaml
Due: validate-yaml, lint-yaml

chore(dnf): add quick note improvements and example
  examples/dnf.conf
  knowledge base/dnf.md
Due: lint-md

chore(examples/pulumi/eks): use local state
  examples/pulumi/aws eks cluster/.env
  examples/pulumi/aws eks cluster/.gitignore
  examples/pulumi/aws eks cluster/Pulumi.yaml
  examples/pulumi/aws eks cluster/package-lock.json
Due: validate-json, validate-yaml, lint-yaml
