Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-docker, lint-md, lint-yaml

validate-json:
  run: jq -r 'input_filename' {staged_files}

validate-yaml:
  run: .venv/bin/yq '.' {staged_files} > /dev/null && echo 'All YAML files are readable'

validate-ansible-playbooks:
  run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}

lint-docker:
  run: hadolint {staged_files}

lint-md:
  run: docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest' {staged_files}

lint-yaml:
  run: docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest' yamllint {staged_files}

chore(kb/ssm): filters in ec2 ansible inventory files
  knowledge base/cloud computing/aws/ssm.md
Due: lint-md

feat(scripts): add git-all in fish
  scripts/git-all.fish
Due: none

chore(ansible): handlers gotchas
  knowledge base/acronyms and abbreviations.md
  knowledge base/ansible.md
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-md, lint-yaml

chore(pulumi): add update command with suppressed outputs
  snippets/pulumi/commands.fish
Due: none

chore(iam,ansible): assume role in ansible tasks
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/ec2.md
  knowledge base/cloud computing/aws/iam.md
  snippets/ansible/tasks.yml
  snippets/aws/commands.fish
Due: validate-yaml, lint-md, lint-yaml

chore(ansible): use vault
  knowledge base/ansible.md
  snippets/ansible/commands.sh
Due: lint-md

chore(steampipe): add query examples
  snippets/steampipe.fish
  snippets/steampipe.sql
Due: none

chore(acronyms): add api and fdw
  knowledge base/acronyms and abbreviations.md
Due: lint-md

feat(ansible,awx): clone ec2 instances
  examples/ansible/ec2.clone-instance.yml
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/ebs.md
  knowledge base/cloud computing/aws/ec2.md
  snippets/ansible/commands.sh
  snippets/ansible/tasks.yml
  snippets/aws/commands.fish
Due: validate-yaml, lint-md, lint-yaml

fix(gitlab): remarks about runners and certificate
  .vscode/settings.json
  examples/ansible/role.gitlab-omnibus-on-ec2/handlers/certify/package.yml
  examples/ansible/role.gitlab-omnibus-on-ec2/tasks/certify/package.yml
  knowledge base/gitlab/README.md
  knowledge base/gitlab/runner.md
  snippets/aws/commands.fish
  snippets/gitlab/gitlab-runner.sh
  snippets/gitlab/package installation.sh
Due: validate-json, validate-yaml, lint-md, lint-yaml

chore(immich): add kb article and container files
  containers/immich/.env
  containers/immich/.env.upstream
  containers/immich/.gitignore
  containers/immich/docker-compose.upstream.yml
  containers/immich/docker-compose.yml
  containers/immich/hwaccel.ml.upstream.yml
  containers/immich/hwaccel.ml.yml
  containers/immich/hwaccel.transcoding.upstream.yml
  containers/immich/hwaccel.transcoding.yml
  knowledge base/immich.md
  knowledge base/self-hosting.md
  knowledge base/watchtower.md
Due: validate-yaml, lint-md, lint-yaml

chore(immich): add backup and restore procedure
  knowledge base/immich.md
  knowledge base/self-hosting.md
Due: lint-md

chore(README): improve readability
  README.md
Due: lint-md

chore(ansible): improve asking for vault password
  knowledge base/ansible.md
Due: lint-md

feat(ansible): use script as password file
  knowledge base/ansible.md
  snippets/ansible/commands.sh
Due: lint-md

chore: add source
  knowledge base/best practices.md
Due: lint-md

fix(ansible): follow linting suggestions
  .ansible-lint
  .ansible-lint-ignore
  examples/ansible/ec2.clone-instance.yml
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-yaml

chore(ansible): use namespace in jinja template for source reasons
  examples/ansible/ec2.clone-instance.yml
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-yaml

chore(awx): and it turned out awx had a client utility all along
  knowledge base/awx.md
  snippets/awx.sh
Due: lint-md

chore(aws/iam): set user mfa in profile
  knowledge base/cloud computing/aws/iam.md
Due: lint-md

Path conditions:
  validate-json: any of: *.json
  validate-yaml: any of: *.{yaml,yml}
  validate-ansible-playbooks: any of: *ansible*/play*.{yaml,yml}
  lint-docker: any of: *Dockerfile*
  lint-md: any of: *.{markdown,md}
  lint-yaml: any of: *.{yaml,yml}
