Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

fix(md): add table to summarize what syntax renders what delimiter for graphs
  knowledge base/markdown.md
Due: lint-md

chore(ansible): dump findings after task
  snippets/ansible/commands.sh
  snippets/ansible/tasks.yml
Due: validate-yaml, lint-ansible, lint-yaml

fix: move mermaid diagrams to their own article, use the correct code delimiter
  knowledge base/markdown.md
  knowledge base/mermaid.js.md
Due: lint-md

fix: apply suggestions from ansible-lint
  .vscode/settings.json
  snippets/ansible/tasks.yml
Due: validate-json, validate-yaml, lint-ansible, lint-yaml

chore: improve lefthook configuration
  .gitignore
  .lefthook.yml
  .vscode/settings.json
  Makefile
  examples/dotfiles/.config/zed/settings.jsonc
  package.json
  requirements.txt
Due: validate-json, validate-yaml, lint-yaml

chore: go on a quest for better ansible uis than awx
  containers/rundeck/Makefile
  containers/rundeck/docker-compose.yml
  containers/semaphore/Makefile
  containers/semaphore/docker-compose.yml
  knowledge base/ansible.md
  knowledge base/rundeck.md
  knowledge base/self-hosting.md
Due: validate-yaml, lint-ansible, lint-md, lint-yaml

chore: add source for icons
  knowledge base/gitlab/README.md
Due: lint-md

chore: improve state diagram example
  knowledge base/mermaid.js.md
Due: lint-md

chore: reserved blocks in linux
  knowledge base/set reserved blocks on filesystems.md
  snippets/filesystems.sh
Due: lint-md

chore(gitlab-runner): improve notes about configuration
  knowledge base/gitlab/runner.md
  knowledge base/toml.md
  snippets/gitlab/gitlab-runner.sh
Due: lint-md

chore(aws): encrypt and decrypt with kms
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/cli.md
  knowledge base/cloud computing/aws/ebs.md
  snippets/aws.fish
Due: lint-md

chore(ansible): add troubleshooting hints for ansible-core failure
  knowledge base/ansible.md
Due: lint-ansible, lint-md

chore(snippets): dump commands for future reference
  snippets/aws.fish
  snippets/git.sh
  snippets/postgresql.sql
  snippets/pulumi/commands.fish
Due: none

chore(nextcloud): add maintenance command
  knowledge base/nextcloud.md
Due: lint-md

fix(cloud-init): quick review of examples
  examples/pulumi/aws/ec2 instance/index.ts
  examples/pulumi/aws/gitlab omnibus on ec2 instance/index.ts
  knowledge base/cloud-init.md
Due: lint-md

chore(pulumi): send commands from pulumi up
  snippets/ansible/commands.sh
  snippets/ansible/tasks.yml
  snippets/pulumi/run commands after instance creation.ts
Due: validate-yaml, lint-ansible, lint-yaml

chore(librewolf): start kb article
  knowledge base/librewolf.md
Due: lint-md

chore(gitlab): add snippet to retry pipelines on runner failure
  snippets/gitlab/pipeline tasks.yml
Due: validate-yaml, lint-yaml

chore(semaphoreui): add article, improve docker compose files
  containers/semaphoreui/Makefile
  containers/semaphoreui/docker-compose.postgres.yml
  containers/semaphoreui/docker-compose.yml
  knowledge base/semaphoreui.md
Due: validate-yaml, lint-md, lint-yaml

chore(gitea): start using helm for installation
  knowledge base/gitea.md
Due: lint-md
