Repository mcereda/oam: changes, and which lefthook commands are due for each by the changed paths.
All: validate-json, validate-yaml, validate-ansible-playbooks, lint-ansible, lint-docker, lint-md, lint-yaml

.lefthook.yml:

---
assert_lefthook_installed: true
no_tty: true
skip_output:
  - meta
  - skips


debug:
  parallel: true
  commands:
    commitlint-config:
      glob: '.commitlintrc.js'
      run: commitlint --print-config

pre-flight:
  parallel: true
  commands:
    commitlint:
      run: npm install --save-dev '@commitlint/cli' '@commitlint/config-conventional'
    venv:
      run: make recreate-venv


lint:
  parallel: true
  commands:
    ansible: &ansible-lint
      glob: '*ansible*'
      run: .venv/bin/ansible-lint
    docker: &hadolint
      # The official docker image is based on scratch and only takes only one
      # input file at a time. I have no clue how to fix that for now so let's
      # just use the local command.
      glob: "*Dockerfile*"
      run: hadolint {all_files}
    # ini: &pyinilint  # FIXME
    #   run: pyinilint 'file'
    md: &markdownlint
      glob: "*.md"
      run: >-  # '{all_files}' and {files} only include ones managed by git for some reason
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        **.md
    yaml: &yamllint
      glob: "*.{yaml,yml}"
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {all_files}

validate:
  parallel: true
  commands:
    ansible-playbook: &ansible-playbook-syntax-check
      glob: "*ansible*/play*.{yaml,yml}"
      run: .venv/bin/ansible-playbook -i localhost, --syntax-check {all_files}
    json: &jq
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.json'
      run: jq -r 'input_filename' {all_files}
    yaml: &yq
      # Python's one, not mikefarah's.
      # No official docker image available for now, falling back to the local
      # command.
      glob: '*.{yaml,yml}'
      run: >-
        echo '{all_files}'
        | xargs -t yq '.'


pre-commit:
  parallel: true
  commands:
    validate-json:
      <<: *jq
      run: jq -r 'input_filename' {staged_files}
    validate-yaml:
      <<: *yq
      run: >-
        yq '.' {staged_files} > /dev/null
        && echo 'All YAML files are readable'
    validate-ansible-playbooks:
      <<: *ansible-playbook-syntax-check
    lint-ansible:
      <<: *ansible-lint
    lint-docker:
      <<: *hadolint
      run: hadolint {staged_files}
    lint-md:
      <<: *markdownlint
      run: >-
        docker run --rm -v "$PWD:/workdir" 'ghcr.io/igorshubovych/markdownlint-cli:latest'
        {staged_files}
    lint-yaml:
      <<: *yamllint
      run: >-
        docker run --rm -v "$PWD:/code" 'registry.gitlab.com/pipeline-components/yamllint:latest'
        yamllint {staged_files}

commit-msg:
  commands:
    lint: &commitlint
      # No official docker image available for now, falling back to the local
      # command.
      run: commitlint --edit

chore: add findings from using pulumi
  knowledge base/pulumi.md
  snippets/base64.sh
  snippets/pulumi.fish
Due: lint-md

fix: specify the code only works on github-flavoured markdown engines
  snippets/info-blocks.github.md
Due: lint-md

chore(kb/markdown): add babelmark source
  knowledge base/markdown.md
Due: lint-md

chore(kb/aws/opensearch): add storage tiers
  knowledge base/cloud computing/aws/opensearch.md
Due: lint-md

chore(opensearch): add sources, snippet about dedicated master nodes in aws
  knowledge base/cloud computing/aws/opensearch.md
  knowledge base/opensearch.md
Due: lint-md

chore(pulumi): try using the gitlab provider
  snippets/pulumi.fish
Due: none

chore(zypper): reviewed article, added snippets
  .vscode/settings.json
  knowledge base/zypper.md
  snippets/zypper.sh
Due: validate-json, lint-md

chore(opensearch): review storage sections
  knowledge base/cloud computing/aws/README.md
  knowledge base/cloud computing/aws/opensearch.md
  knowledge base/opensearch.md
Due: lint-md

chore(zypper): review commands
  knowledge base/zypper.md
  snippets/zypper.sh
Due: lint-md

fix(zypper): use sudo where needed
  snippets/zypper.sh
Due: none

chore(kb): import notes from an old repository
  knowledge base/kubernetes/README.md
  knowledge base/pandoc.md
  knowledge base/polkit.md
  knowledge base/prometheus.md
  knowledge base/raspberry pi os.md
  knowledge base/shell.md
  knowledge base/tmux.md
  knowledge base/vscodium.md
  knowledge base/zram.md
Due: lint-md

chore(kb): fix warning
  knowledge base/raspberry pi os.md
Due: lint-md

chore: import notes from an old repository
  examples/apt/preferences.d/99kde-latest-pinning
  knowledge base/grafana.md
  knowledge base/vboxmanage.md
  snippets/ansible.sh
  snippets/apt.sh
  snippets/dnf.sh
  snippets/docker.sh
  snippets/encrypt devices.sh
  snippets/find.sh
  snippets/git.sh
  snippets/gnupg.fish
  snippets/google-drive.sh
  snippets/keybase.sh
  snippets/osx.sh
  snippets/pacman.sh
  snippets/pre-commit.sh
  snippets/rsync.sh
  snippets/ssh.sh
  snippets/stow.sh
  snippets/virtualbox.sh
  snippets/winget.bat
  snippets/zypper.sh
Due: lint-ansible, lint-md

chore(ssh): improve configuration notes and examples
  examples/ssh/sshd_config
  examples/ssh/sshd_config.defaults
  knowledge base/ssh.md
Due: lint-md

chore(ansible): add command to snippets
  snippets/ansible.sh
Due: lint-ansible

chore(boinc/snippets): add command to disable intel turbo boost
  snippets/boinc.static-frequency-for-niced-loads.sh
Due: none

chore(snippets): add shutdown notes
  snippets/shutdown.sh
Due: none

chore(opensearch): add source
  knowledge base/opensearch.md
Due: lint-md

chore(pulumi/snippets): add helper functions
  snippets/pulumi.fish
Due: none

chore(kb/aws): extend rds section
  knowledge base/cloud computing/aws/README.md
Due: lint-md
